.carousel-caption{
    top: 30%;
}

.head{
    font-size: 70px;
    font-weight: 500;
}

.para{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    word-spacing: 5px;
    
}

.para-2{
    font-size: 20px;
    font-weight: 400;
    word-spacing: 5px;
    line-height: 40px;
}


.left-col{
    position: relative;
}

.child-1{
    position: absolute;
    bottom: 60%;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.child-2{
    position: absolute;
    bottom: 45%;
}

.child-3{
    position: absolute;
    bottom: 32%;
   
}



.parent-img{
    position: relative;
}

.child-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent-img:hover .child-img{
    visibility: visible;
}

.childbox-2{
    position: relative;
}

.content2{
    width: 100%;
    height: 340px;
    background-color: rgb(10, 136, 94);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;

}

.parent2-img{
    position: relative;
}

.child2-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent2-img:hover .child2-img{
    visibility: visible;
}

.parent3-img{
    position: relative;
}

.child3-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent3-img:hover .child3-img{
    visibility: visible;
}

.parentbox{
    width: 348px;
    height: 500px;
    background-color: rgb(63, 65, 158);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.workspace{
    font-size: 15px;
    letter-spacing: 5px;
}
    

.content-3{
    font-size: 30px;
    font-weight: 500;
}

.content4{
    width: 100%;
    height: 340px;
    background-color: rgb(100, 5, 208);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px;

}


.parent4-img{
    position: relative;
}

.child4-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent4-img:hover .child4-img{
    visibility: visible;
}


.parent5-img{
    position: relative;
}

.child5-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent5-img:hover .child5-img{
    visibility: visible;
}

.box{
    padding-top: 120px;
    padding-bottom: 120px;
}

.box2{
    display: flex;
    overflow: auto;
    
}


.slide-p{
    font-size: 30px;
    font-weight: 600;
    padding-top:15px;
    padding-bottom: 30px;
}

.slide-h{
    font-size: 15px;
    padding: 20px;
}

.button{
    width: 100px;
    height: 40px;
    background-color: rgb(99, 141, 99);
    color: white;
    border: 2px solid rgb(99, 141, 99);
    border-radius: 10px;
}

.button:hover{
    background-color:rgb(50, 71, 50);
    color: white;
}



.logo{
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
}

.logo-1{

    font-size: 45px;
    font-weight: 600;
    text-align: center;
    
}

.parentlogo{

    padding-top: 60px;
    padding-bottom: 30px;
}

.parent6-img{
    position: relative;
}

.child6-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent6-img:hover .child6-img{
    visibility: visible;
}

.parent7-img{
    position: relative;
}

.child7-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent7-img:hover .child7-img{
    visibility: visible;
}

.parent8-img{
    position: relative;
}

.child8-img{
    position: absolute;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.parent8-img:hover .child6-img{
    visibility: visible;
}

.parent9-img{

    position: relative;
    width: 100%;
    height: 240px;
    background-color: rgb(51, 118, 118);
    color: white;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.child9-img{

    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

}         

.parent9-img:hover .child9-img{

    visibility: visible;
}

.margin{
    padding-bottom: 60px;
}



.textbg{
    background-color: transparent;
    border: 1px solid rgb(186, 183, 183);
}

.copyright{
    
    text-decoration: none;
}

.blue{
    background-color: rgb(5, 5, 37);
}

.location{
    text-decoration: none;
}

.link{
    color: white;
    text-decoration: none;
}

.column-1{
    padding-top: 30px;
    padding-left: 60px;
}

